[Unit]
Description=DogBot server
After=syslog.target network.target

[Service]
User=root
WorkingDirectory=/
EnvironmentFile=/etc/dogbot-server.conf
ExecStart=/usr/bin/dogBotServer  
Restart=on-failure
RestartSec=100ms

[Install]
WantedBy=multi-user.target
